@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/4c4c08af466e9ad071b6d69cf44093df?family=SaolDisplay-Regular');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Roboto";
    color: #A2A2A4;



}


body {
    width: 100%;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background: #000;
    color: #A2A2A4 !important;

}



.navbar.scrolled {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: black !important;
    color: #AD9515 !important;
    font-size: 15px !important;

}

.dropdown-menu .dropdown-item:hover a {

    border-bottom: 1px solid #dedede38 !important;
}

.navbar {
    max-width: 100% !important;
    transition: background-color 0.3s;
    max-width: 100% !important;
    transition: background-color 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;

}

.navbar-brand img {
    width: 180px;
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
}



.letter-spacing {
    letter-spacing: 1.2px;
}

.font-family-main {
    font-family: "Roboto" !important;
}

.font-title {
    font-family: "SaolDisplay-Regular" !important;
}

.text-danger {
    background: linear-gradient(90deg, #FFEECC 4.29%, #AD9515 97.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-danger,.btn-danger {
    background: #AD9515 !important;
    border: 1px solid #AD9515;
}

.bg-transparent {
    background: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SaolDisplay-Regular', sans-serif;
    ;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light,
.fw-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular,
.fw-nromal {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium,
.fw-semibold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold,
.fw-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic,
.fw-italic-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic,
.fw-italic-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic,
.fw-italic-exbold {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.section {
    padding: 80px 0;
    background: #000 !important;
}

.bg-dark {

    background: #000 !important;
}

.w-35 {
    width: 35%;
    margin: 0 auto;
}

.navbar a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #c2c2c2 !important
}

.font-light-color {
    color: #c2c2c2 !important
}

.light-white {
    color: #A2A2A4 !important
}

.border {
    border: 1px solid #a2a2a4
}

.footer-email input::placeholder {
    color: #A2A2A4
}

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-17 {
    font-size: 17px !important;
}
.font-20 {
    font-size: 20px !important;
}
.font-21 {
    font-size: 21px !important;
}

.font-35 {
    font-size: 1.7rem !important;
    line-height: 1.2;
    color: #c2c2c2;
    font-family: "DM Sans", sans-serif;
}

.text-light {
    color: #E4DFD8 !important
}

.navbar {

    z-index: 99;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav .dropdown-menu {
    background: #000;
}

.top-bg {
    /*margin-top: -130px;*/
    margin-top: 0px;
    z-index: 2
}

/* Hide controls by default */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Show controls on hover */
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    opacity: 1;
}

.home-about-heading h2 {
    /*font-family: 'SaolDisplay-Regular';*/
    font-family: "DM Sans", sans-serif;
    ;
    font-size: 5vw;
    font-weight: 300;
    line-height: 7vw;
    color: #fff;
}

label {
    display: none !important;
}

.font-14 {
    font-size: 14px !important;
}

#carouselExampleCaptions .carousel-caption {
    bottom: 1.9vw;
}

.slider-txt {
    font-family: "DM Sans", sans-serif;
    ;
    font-size: 9.55vw;
    font-weight: 300;
    line-height: 8.5vw;
    text-align: center;
    opacity: 1;
    z-index: 99;
    color: #ffffffab !important;
    letter-spacing: .1px;
    text-transform: uppercase;
}

.slider-txt2 {
    font-family: 'SaolDisplay-Regular';
    font-size: 30px !important;
    font-weight: 300;

    text-align: center;
    opacity: 1;
    z-index: 99;
    color: #fff !important;
    letter-spacing: .1px;
}



.experience-text p,
.other-heading {
    font-family: "DM Sans", sans-serif;
    font-size: 5vw;
    font-weight: 300;
    line-height: 5.3vw;
    color: #E4DFD8;
}

.other-heading2 {
    font-family: "DM Sans", sans-serif;
    font-size: 3.2vw;
    font-weight: 300;
    line-height: 4vw;
    color: #E4DFD8;
}

#eleveators .other-heading2,
#eleveators p {
    opacity: .6;
}

#eleveators .row:hover .other-heading2,
#eleveators .row:hover p {
    opacity: .9;
}

.myform input::placeholder,
.myform textarea::placeholder {
    color: #A2A2A4
}

.text-justify {
    text-align: justify !important;
}

.footer ul li {
    list-style: none;
    line-height: 3;
}

a {
    text-decoration: none !important;
}

.blog-box h3 {
    min-height: 115px;
}

#carouselExampleCaptions .carousel-item {
    position: relative;
}

/*
#carouselExampleCaptions .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

   background: radial-gradient(63.07% 100.92% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 73.7%);


    z-index: 1;
}
*/
#carouselExampleCaptions .carousel-caption {
    z-index: 2;
    display: none !important;
}

@media (max-width: 767.98px) {
    .navbar-brand img {
        width: 180px;
        position: relative;

        top: 15px;
        transform: translateX(-50%);
    }

    .test-font {
        max-width: 100% !important;
        font-size: 20px !important;
        font-weight: 400 !important;
        line-height: 32px !important;
        color: #E4DFD8;

    }

    .experience-text {
        position: absolute;
        left: 7.5vw;
        top: 6.5vw;
    }

    #elevators h6,
    #elevators filter {
        text-align: center !important;
    }

    .navbar {
        background: #000 !important;
    }

    .top-bg {
        margin-top: 105px;
    }

    .navbar-toggler-icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(324%) hue-rotate(303deg) brightness(116%) contrast(100%);
        margin-top: 20px;
    }

    .section {
        padding: 40px 15px !important
    }

    .home-about-heading h2 {
        font-size: 32px;
        line-height: 1.4;
    }

    .other-heading {
        font-size: 32px;
        line-height: 1.4;
    }

    .other-heading2,
    .filter a h2,
    .experience-text p {
        font-size: 32px;
        line-height: 1.4 !important;
    }

    #testimonials .owl-dots {
        position: relative !important;
    }

    .footer ul {
        padding-left: 0 !important;
    }

    .footer ul li {
        text-align: center !important;
    }

    .footer .my-5,
    .footer .my-3 {
        padding: 0 !important
    }

    .w-35,.w-75  {
        width: 100% !important;
        margin: 0 auto;
    }

    .navbar-brand {
        position: static;
        transform: none;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin: 5px 0;
    }
}




@media only screen and (min-width: 767px) {

    .elevator-carousel .carousel-control-prev,
    .elevator-carousel .carousel-control-next {
        top: -190% !important;
        opacity: 1;
        /* Always visible */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .elevator-carousel .carousel-control-prev {
        left: 0;
    }

    .elevator-carousel .carousel-control-next {
        left: 0;
    }

    .filter a h2 {
        cursor: pointer;
        line-height: 80px;
    }


}

#eleveators .elevator-carousel .carousel-control-prev,
#eleveators .elevator-carousel .carousel-control-next {
    top: -135% !important;
    opacity: 1;
    /* Always visible */
    display: flex;
    justify-content: center;
    align-items: center;
}



.elevator-carousel .carousel-control-prev-icon,
.elevator-carousel .carousel-control-next-icon {
    display: none;

}

.multi-carousel .elevator-carousel .carousel-control-prev img,
.multi-carousel.elevator-carousel .carousel-control-next img {
    width: 45px;
    height: 45px;
}

.multi-carousel .elevator-carousel .carousel-arrow {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.filter a h2.active {
    color: white !important;
}

#elevator-description {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff !important;
    text-align: justify;
}

.elevator-carousel {
    display: none;
    /* Hide all carousels by default */
}

#optima {
    display: block;
    /* Show the Optima carousel by default */
}

.img75 {
    width: 75px;
}

.test-font {
    max-width: 100% !important;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    color: #A2A2A4;

}

.w-12 {
    width: 8px !important;
    margin-left: 15px;
}

#testimonials .owl-dots {
    position: absolute;
    left: 0;
    bottom: 33%
}

#testimonials .owl-item {
    transition: width 0.3s ease;
    /* Smooth transition for width change */
}

#testimonials .owl-stage-outer {
    padding-left: -250px !important;
}

.testi-info {
    position: relative;
    background: rgba(0, 0, 0, 1);
    color: white;
    z-index: 1;
}

.owl-item.active.center .testi-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: -55%;
    width: 44%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    /* Overlay color (black with 60% opacity) */
    z-index: -1;
    /* Position behind the content */
    border-radius: 10px;
    /* Match border-radius of the .testi-info container */
}

.owl-item:not(.active):not(.center) {
    opacity: 0.5;
    /* Example style: make non-active, non-center items semi-transparent */
    transform: scale(0.9);
    /* Optional: slightly reduce the size of these items */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Smooth transitions */
}

.table {
    border-bottom: 1px solid #f2efef38;
}

@media only screen and (max-width: 767px) {

    #eleveators .elevator-carousel .carousel-control-prev,
    #eleveators .elevator-carousel .carousel-control-next {
        top: 100% !important;
        opacity: 1;
        /* Always visible */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #eleveators .elevator-carousel .carousel-control-prev {
        left: 42%;
        transform: translateX(-50%);
    }

    #eleveators .elevator-carousel .carousel-control-next {
        left: 58%;
        transform: translateX(-50%);
    }

    .elevator-carousel .carousel-control-prev,
    .elevator-carousel .carousel-control-next {
        top: 50%;
        /* Position at the top */
        bottom: auto;
        opacity: 1;
        /* Always visible */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .elevator-carousel .carousel-control-prev {
        left: 0;
    }

    .elevator-carousel .carousel-control-next {
        right: 0;
    }

    .filter a h2 {
        cursor: pointer;
        line-height: 15px;
    }


}

.img-275 {
    width: 100%;
    max-width: 275px !important;
}

.table {
    border: none !important;
}

.td {
    text-align: center !important;
}

/* Display the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Optional: Prevent dropdown from closing immediately on hover out */
.nav-item.dropdown .dropdown-menu {
    transition: visibility 0.2s ease;
}

/* Default video styling for desktop */
#carouselExampleCaptions .carousel-item video {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

#carouselExampleCaptions .carousel-item img {
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover !important;
    max-height: 100vh !important;
}

#experience-sec {
    background: url('img/experience.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
}






@media (max-width: 767.98px) {
    .m-center {
        text-align: center !important;
        margin: 0 auto;
    }

    .top-bg {
        margin-top: 30px !important;
    }

    .fixed-top {
        position: relative !important;
    }

    .navbar {
        max-width: 100% !important;
        transition: background-color 0.3s;
        max-width: 100% !important;
        transition: background-color 0.3s;
        position: relative !important;
        top: 0;
        left: 0;
        right: 0;
        width: 100% !important;
    }

    /* Default video styling for desktop */

    #experience-sec {
        height: 48vh !important;
        background-position: center !important;
    }

    .experience-text {
        position: relative;
        left: -20%;
        top: 20vw;
    }

    #navbarNav {
        margin-top: 40px !important;
        width: 100%;
    }

    /* slider
    #carouselExampleCaptions .carousel-item {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .carousel-image {
        height: 100%;
        width: auto;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }
    */
}
#brochure img {max-width: 80px !important;width: 80px;}